<!-- <app-product-list #productListComponent
  class="card p-2"
  [productList]="products"
  (onSelected)="onSelectedProduct($event)">
  <h1>The session id is {{ productListComponent.sessionId }}</h1>
</app-product-list>

<div *ngIf="selectedProduct" class="card">
<h1>You selected {{ selectedProduct.name }}</h1>
</div> -->

<!-- <h3>Parent Component</h3>

<label>Parent </label>
<input type="text" #pcomponent (keyup)="0"/>

<p>Value of child component is: {{ CData }}</p>
<hr>
<app-product-list [PData]="pcomponent.value" (childEvent)="CData=$event"></app-product-list> -->

<h3>Parent Component</h3>

<label>Parent </label>
<input type="text" #pcomponent (keyup)="onParentInputChange(pcomponent.value)" />

<p>Value of child component is: {{ CData }}</p>
<hr>
<button (click)="complete()">complete</button>
<button (click)="errorObservable(pcomponent.value)">errorObservable</button>

<app-product-list></app-product-list>








