.content {
  padding-top: 5px;
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    gap: 10px; /* Adjust this value to control the gap between form fields */
    align-items: center; /* Align items vertically in the middle */
  }

  .flex-item {
    flex: 1;
  }

  .education-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust this value to control the gap between education form fields */
    align-items: center; /* Align items vertically in the middle */
  }

  .education-row {
    flex: 1;
    display: flex;
    gap: 10px; /* Adjust this value to control the gap between education form fields */
  }

  .education-icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
}

.action {
  padding: 0px 0px 0px;
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 10px;
  }
}
  


